@model IEnumerable<KuaforYonetimSistemi.Models.Calisan>

@{
    ViewData["Title"] = "Index";
}

<h1>Çalýþanlar</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Çalýþan Ekle</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UzmanlikAlanlari)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UygunlukSaatleri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon)
            </th>
            <th>Ýþlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Adi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UzmanlikAlanlari)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UygunlukSaatleri)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salon.Adi)
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Düzenle</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Detaylar</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Sil</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
